<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>Controller</display-name>
 <!-- Nome del parametro da cui ricavare il path per l'upload dei file -->
 <context-param>
  <description>Percorso Directory Files</description>
  <param-name>path_dir_files</param-name>
  <param-value>dir.files</param-value>
 </context-param>
 <!-- Nome del parametro da cui ricavare la query sql data inizio stato della fonte dati -->
 <context-param>
  <description>Sql data inizio stato fonte dati</description>
  <param-name>sql_data_inizio</param-name>
  <param-value>sql.data.inizio</param-value>
 </context-param>
 <!-- Nome del parametro da cui ricavare la query sql data aggiornamento stato della fonte dati -->
 <context-param>
  <description>Sql data agg stato fonte dati</description>
  <param-name>sql_data_aggiornamento</param-name>
  <param-value>sql.data.aggiornamento</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.SKIN</param-name>
  <param-value>flatAzure</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING</param-name>
  <param-value>enable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING_CLASSES</param-name>
  <param-value>enable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING_LEVEL</param-name>
  <param-value>basic</param-value>
 </context-param>
 <context-param>
  <description>Faces extension</description>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <description>Development Setting</description>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <description>Development Setting</description>
  <param-name>facelets.LIBRARIES</param-name>
  <param-value>/WEB-INF/tags/jsf-ui.taglib.xml;/WEB-INF/tags/jsf-core.taglib.xml;/WEB-INF/tags/jsf-html.taglib.xml;</param-value>
 </context-param>
 
  	<!-- PARAMETRO PER USARE JSF 1.2 SU JBOSS7  -->
	<context-param>  
	  <param-name>org.jboss.jbossfaces.JSF_CONFIG_NAME</param-name>  
	  <param-value>Mojarra-1.2</param-value>  
	</context-param> 
 
 <!-- <filter id="FiltroPwd">
	<filter-name>FiltroPwd</filter-name>
	<filter-class>it.webred.cet.permission.PwdValidationFilter</filter-class>
 </filter>
 <filter-mapping>
	<filter-name>FiltroPwd</filter-name>
	<url-pattern>/jsp/*</url-pattern>
 </filter-mapping> -->
 
 <filter>
  <display-name>Ajax4jsf Filter</display-name>
  <filter-name>ajax4jsf</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ajax4jsf</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.faces</url-pattern>
 </servlet-mapping>
 <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>it.webred.ct.rulengine.web.bean.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>
 <welcome-file-list>
  <welcome-file>/jsp/index.jsp</welcome-file>
 </welcome-file-list>
 <!-- Sample Security Constraint -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>Secure resource</web-resource-name>
   <url-pattern>/jsp/protected/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>Controller</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
   <form-login-page>/jsp/login.jsp</form-login-page>
   <form-error-page>/jsp/loginfail.jsp</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <description>Ruolo di accesso applicativo</description>
  <role-name>Controller</role-name>
 </security-role>
</web-app>
