<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>FascicoloBene</display-name>
 <!-- http://www.primefaces.org/themes.html -->
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>redmond</param-value>
 </context-param>
 <filter>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  <init-param>
    <param-name>thresholdSize</param-name>
	<param-value>51200</param-value>
  </init-param>
</filter>
 <filter>
  <display-name>LoginFilter</display-name>
  <filter-name>LoginFilter</filter-name>
  <filter-class>it.webred.cet.permission.PermissionFilter</filter-class>
 </filter>
 <filter>
  <display-name>FiltroPwd</display-name>
  <filter-name>FiltroPwd</filter-name>
  <filter-class>it.webred.cet.permission.PwdValidationFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>LoginFilter</filter-name>
  <url-pattern>/jsp/protected/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>FiltroPwd</filter-name>
  <url-pattern>/jsp/protected/*</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.faces</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/jsp/index.jsp</welcome-file>
 </welcome-file-list>
 <!-- Sample Security Constraint -->
<security-constraint>
	<web-resource-collection>
		<web-resource-name>All Access</web-resource-name>
		<url-pattern>/jsp/public/infostrati.properties.jsp</url-pattern>
		<url-pattern>/jsp/public/wms.xml.jsp</url-pattern>
		<url-pattern>/jsp/public/map.properties.jsp</url-pattern>
		<url-pattern>/jsp/public/streetview.jsp</url-pattern>
		<url-pattern>/jsp/public/streetviewPopUp.jsp</url-pattern>
		<url-pattern>/jsp/public/virtualearth.jsp</url-pattern>
		<http-method>HEAD</http-method>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
		<http-method>PUT</http-method>
		<http-method>DELETE</http-method>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>NONE</transport-guarantee>
	</user-data-constraint>
</security-constraint>
 
 <security-constraint>
  <display-name>FASCICOLO BENE Security</display-name>
  <web-resource-collection>
   <web-resource-name>Secure resource</web-resource-name>
   <url-pattern>/jsp/protected/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>diogene</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
   <form-login-page>/jsp/public.faces</form-login-page>
   <form-error-page>/jsp/public.faces?retry=true</form-error-page>
  </form-login-config>
 </login-config>
 <security-role>
  <role-name>diogene</role-name>
 </security-role>
  <servlet>
  <servlet-name>DynamicImageServlet</servlet-name>
	<servlet-class>it.webred.fb.web.bean.util.DynamicImageServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>DynamicImageServlet</servlet-name>
  <url-pattern>/images/dynamic/*</url-pattern>
 </servlet-mapping> 
<filter-mapping>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
</filter-mapping>
</web-app>
