<%@ page contentType="text/css" %>
.divContenitore
{
	display:none; 

}
fieldset
{
	border: solid 1px #3300FF;  
	margin: 10px; 
	padding: 10px;
	
	vertical-align: top;	
}
legend
{
	font-weight: bold;
}
.divMenu
{
	 
	position:relative; 
	  
	margin: 10px;  
	padding: 10px;
}
input
{
	
	border: 1px solid #3300FF;
}
.extWinTDData
{
	white-space:nowrap;
}

tr.nascondi td , tr.nascondi td a:link, tr.nascondi td a:visited , tr.nascondi td a:hover, tr.nascondi td  a:active {
	color: #DDDDDD;
	background-color: #F2F2F2;
	cursor: default;
}
