<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>AMProfiler1</display-name>
 <filter>
  <filter-name>Filtro</filter-name>
  <filter-class>it.webred.permessi.Filtro</filter-class>
  <init-param>
   <param-name>driverClass</param-name>
   <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </init-param>
  <init-param>
   <param-name>urlConn</param-name>
   <param-value>jdbc:oracle:thin:@10.10.33.25:1521:ORCL</param-value>
  </init-param>
  <init-param>
   <param-name>userConn</param-name>
   <param-value>AM</param-value>
  </init-param>
  <init-param>
   <param-name>pwdConn</param-name>
   <param-value>AM</param-value>
  </init-param>
  <init-param>
   <param-name>numGiorniVal</param-name>
   <param-value>90</param-value>
  </init-param>
  <init-param>
   <param-name>paginaCambioPwd</param-name>
   <param-value>http://localhost:8080/AMProfiler/SalvaUtente?pwdScaduta=true&amp;mode=vis</param-value>
  </init-param>
 </filter>
 <!-- 
	<filter-mapping>
	 <filter-name>Filtro</filter-name>
	 <url-pattern>/CaricaMenu</url-pattern>
	</filter-mapping>
 -->
 <listener>
  <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
 </listener>
 <listener>
  <listener-class>it.webred.AMProfiler.services.ApplicationListener</listener-class>
 </listener>
 <servlet>
  <display-name>Apache-Axis Servlet</display-name>
  <servlet-name>AxisServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  <init-param>
   <param-name>use-servlet-security</param-name>
   <param-value>true</param-value>
  </init-param>
 </servlet>
 <servlet>
  <display-name>Axis Admin Servlet</display-name>
  <servlet-name>AdminServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
  <load-on-startup>100</load-on-startup>
 </servlet>
 <servlet>
  <display-name>SOAPMonitorService</display-name>
  <servlet-name>SOAPMonitorService</servlet-name>
  <servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
  <init-param>
   <param-name>SOAPMonitorPort</param-name>
   <param-value>5001</param-value>
  </init-param>
  <load-on-startup>100</load-on-startup>
 </servlet>
 <servlet>
  <display-name>CaricaUtenti</display-name>
  <servlet-name>CaricaUtenti</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.CaricaUtenti</servlet-class>
  <init-param>
   <param-name>numGiorniVal</param-name>
   <param-value>90</param-value>
  </init-param>
  <init-param>
   <param-name>numGiorniAnteScad</param-name>
   <param-value>5</param-value>
  </init-param>
 </servlet>
 <servlet>
  <display-name>Logout</display-name>
  <servlet-name>Logout</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.LogoutAction</servlet-class>
 </servlet>
 <servlet>
  <display-name>CaricaMenu</display-name>
  <servlet-name>CaricaMenu</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.CaricaMenu</servlet-class>
 </servlet>
 <servlet>
  <display-name>CaricaPermessi</display-name>
  <servlet-name>CaricaPermessi</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.CaricaPermessi</servlet-class>
 </servlet>
 <servlet>
  <display-name>CaricaServizi</display-name>
  <servlet-name>CaricaServizi</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.CaricaServizi</servlet-class>
 </servlet>
 <servlet>
  <display-name>SalvaPermessi</display-name>
  <servlet-name>SalvaPermessi</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.SalvaPermessi</servlet-class>
 </servlet>
 <servlet>
  <display-name>SalvaServiziRuoli</display-name>
  <servlet-name>SalvaServiziRuoli</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.SalvaServiziRuoli</servlet-class>
 </servlet>
 <servlet>
  <display-name>SalvaRuoliGruppo</display-name>
  <servlet-name>SalvaRuoliGruppo</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.SalvaRuoliGruppo</servlet-class>
 </servlet>
 <servlet>
  <display-name>SalvaRuoliUtente</display-name>
  <servlet-name>SalvaRuoliUtente</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.SalvaRuoliUtente</servlet-class>
 </servlet>
 <servlet>
  <display-name>SalvaUtente</display-name>
  <servlet-name>SalvaUtente</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.SalvaUtente</servlet-class>
  <init-param>
   <param-name>numGiorniVal</param-name>
   <param-value>90</param-value>
  </init-param>
  <init-param>
   <param-name>numGiorniAnteScad</param-name>
   <param-value>5</param-value>
  </init-param>
 </servlet>
 <servlet>
  <display-name>CancellaUtente</display-name>
  <servlet-name>CancellaUtente</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.CancellaUtente</servlet-class>
 </servlet>
 <servlet>
  <display-name>NuovoPermesso</display-name>
  <servlet-name>NuovoPermesso</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.NuovoPermesso</servlet-class>
 </servlet>
 <servlet>
  <display-name>NuovoGruppo</display-name>
  <servlet-name>NuovoGruppo</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.NuovoGruppo</servlet-class>
 </servlet>
 <servlet>
  <display-name>UtentiRuoli</display-name>
  <servlet-name>UtentiRuoli</servlet-name>
  <servlet-class>it.webred.AMProfiler.servlet.UtentiRuoli</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CaricaMenu</servlet-name>
  <url-pattern>/CaricaMenu</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CaricaUtenti</servlet-name>
  <url-pattern>/CaricaUtenti</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CaricaPermessi</servlet-name>
  <url-pattern>/CaricaPermessi</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CaricaServizi</servlet-name>
  <url-pattern>/CaricaServizi</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SalvaPermessi</servlet-name>
  <url-pattern>/SalvaPermessi</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SalvaServiziRuoli</servlet-name>
  <url-pattern>/SalvaServiziRuoli</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SalvaRuoliGruppo</servlet-name>
  <url-pattern>/SalvaRuoliGruppo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SalvaRuoliUtente</servlet-name>
  <url-pattern>/SalvaRuoliUtente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SalvaUtente</servlet-name>
  <url-pattern>/SalvaUtente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CancellaUtente</servlet-name>
  <url-pattern>/CancellaUtente</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>NuovoPermesso</servlet-name>
  <url-pattern>/NuovoPermesso</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>NuovoGruppo</servlet-name>
  <url-pattern>/NuovoGruppo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UtentiRuoli</servlet-name>
  <url-pattern>/UtentiRuoli</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/servlet/AxisServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>*.jws</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SOAPMonitorService</servlet-name>
  <url-pattern>/SOAPMonitor</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
 <security-constraint>
  <!-- Sample Security Constraint -->
  <web-resource-collection>
   <web-resource-name>protected-resources</web-resource-name>
   <url-pattern>/CaricaMenu</url-pattern>
   <url-pattern>/CancellaUtente</url-pattern>
   <url-pattern>/CaricaPermessi</url-pattern>
   <url-pattern>/CaricaServizi</url-pattern>
   <url-pattern>/MenuBulder</url-pattern>
   <url-pattern>/NuovoGruppo</url-pattern>
   <url-pattern>/NuovoPermesso</url-pattern>
   <url-pattern>/SalvaPermessi</url-pattern>
   <url-pattern>/SalvaServiziRuoli</url-pattern>
   <url-pattern>/SalvaRuoliGruppo</url-pattern>
   <url-pattern>/SalvaRuoliUtente</url-pattern>
   <url-pattern>/SalvaUtente</url-pattern>
   <url-pattern>*.jsf</url-pattern>
   <url-pattern>*.jsp</url-pattern>
   <url-pattern>*.html</url-pattern>
   <url-pattern>*.htm</url-pattern>
   <http-method>HEAD</http-method>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
   <http-method>PUT</http-method>
   <http-method>DELETE</http-method>
  </web-resource-collection>
  <auth-constraint>
   <role-name>AMProfiler</role-name>
  </auth-constraint>
  <user-data-constraint>
   <transport-guarantee>NONE</transport-guarantee>
  </user-data-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
	<form-login-config>
	<form-login-page>/jsp/login.jsp</form-login-page>
	<form-error-page>/jsp/loginfail.jsp</form-error-page>
	</form-login-config>   
 </login-config>
 <security-role>
  <description>Ruolo di accesso applicativo</description>
  <role-name>AMProfiler</role-name>
 </security-role>
</web-app>
