body {
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	margin-left: 2.5%;
	padding: 0;
	width: 95%;
}

.messageLabel {
	font-family: Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

tbody>tr>td {
	vertical-align: top;
}

.colRisultati {
	width: 40%;
}

a.homeClassHover {
	padding-left: 1px;
	color: black;
	text-decoration: none;
}

a.homeClassOut {
	padding-left: 1px;
	color: white;
	text-decoration: none;
}

.myTogglePanelSelfalse {
	background-image: url(../images/tab_active.png);
	color: red;
}

.rich-tab-inactive {
	cursor: pointer;
	background-image: url(../images/tab_inactive.png);
	color: white;
}

.rich-tab-active {
	font-weight: bold;
	background-image: url(../images/tab_active.png);
}

.rich-std-header-row {
	background-color: #EAF0F8;
}

.rich-sdt-header-cell {
	color: black;
	font-weight: bold;
}

.rich-sdt-header-cell-body {
	padding-left: 2px;
}

.rich-sdt-column-cell-body {
	padding-left: 2px;
}

.extdt-innerdiv {
	overflow-x: auto !important;
	overflow-y: hidden;
}